<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyb.mapper.FinanceCompanyMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
    <resultMap type="com.jyb.pojo.FinanceCompany" id="ResultFinanceCompanyMap">
        <id column="id" property="id"/>
        <result column="sumMoney" property="sumMoney"/>
    </resultMap>
    
    <sql id="BaseSql">
        sumMoney,
    </sql>
    
    <!-- 插入数据 -->
    <insert id="add" parameterType="com.jyb.pojo.FinanceCompany">
        insert into t_finance_company(<include refid="BaseSql"/>) value(#{sumMoney});
    </insert>
    
    <!-- 查询所有 -->
    <select id="list" resultMap="ResultFinanceCompanyMap">
        select * from t_finance_company;
    </select>
    
    <!-- 根据ID查询单个 -->
    <select id="getById" parameterType="java.lang.Integer" resultType="com.jyb.pojo.FinanceCompany">
        select * from t_finance_company where id=#{id};
    </select>
    
    <!-- 修改数据 -->
    <update id="update" parameterType="com.jyb.pojo.FinanceCompany">
        update t_finance_company set sumMoney=#{sumMoney} where id=#{id};
    </update>
    
    <!-- 删除数据 -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_finance_company where id=#{id};
    </delete>
    <!-- 公司金额减少 -->
    <select id="reduceFinanceCompanyMoney" parameterType="com.jyb.pojo.FinanceCompany">
    	UPDATE t_finance_company fc
		SET fc.sumMoney = sumMoney - #{sumMoney}
		WHERE fc.id = #{id}
    </select>
</mapper>