<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyb.mapper.InvitationMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
    <resultMap type="com.jyb.pojo.Invitation" id="ResultInvitationMap">
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="yquserid" property="yquserid"/>
        <result column="yqtime" property="yqtime"/>
        <result column="bychar" property="bychar"/>
        <result column="bystr" property="bystr"/>
    </resultMap>
    
    <sql id="BaseSql">
        userid,
        yquserid,
        yqtime,
        bychar,
        bystr
    </sql>
    
    <!-- 插入数据 -->
    <insert id="add" parameterType="com.jyb.pojo.Invitation">
        insert into t_invitation(<include refid="BaseSql"/>) value(#{userid},#{yquserid},#{yqtime},#{bychar},#{bystr});
    </insert>
    
    <!-- 查询所有 -->
    <select id="list" resultMap="ResultInvitationMap">
        select * from t_invitation;
    </select>
    
    <!-- 根据ID查询单个 -->
    <select id="getById" parameterType="java.lang.Integer" resultType="com.jyb.pojo.Invitation">
        select * from t_invitation where id=#{id};
    </select>
    
    <!-- 修改数据 -->
    <update id="update" parameterType="com.jyb.pojo.Invitation">
        update t_invitation set userid=#{userid},yquserid=#{yquserid},yqtime=#{yqtime},bychar=#{bychar},bystr=#{bystr} where id=#{id};
    </update>
    
    <!-- 删除数据 -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_invitation where id=#{id};
    </delete>
</mapper>