<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyb.mapper.ProvinceMapper">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	<resultMap type="com.jyb.pojo.Province" id="ResultprovinceMap">
		<id column="id" property="id"/>
		<result column="p_id" property="pid"/>
		<result column="provinceName" property="provinceName"/>
	</resultMap>
	<sql id="BaseSql">
		pid,
		provinceName
	
	</sql>
	<!-- 插入数据 -->
	<insert id="add" parameterType="com.jyb.pojo.Province">
	</insert>
	<!-- 查询所有 -->
	<select id="list" resultMap="ResultprovinceMap">
		SELECT
			p.p_id,p.asname as provinceName
		FROM
			t_province p
	</select>
	<!-- 根据ID查询单个 -->
	<select id="getById"></select>
	<!-- 修改数据 -->
	<update id="update"></update>
	<!-- 删除数据 -->
	<delete id="delete"></delete>
</mapper>